<a href="https://colab.research.google.com/github/anandkgupt/My-Practical-lab/blob/main/OOPS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

OOPS

In [ ]:
# Create an object
c1 = Car("Toyota", "Corolla")
print(type(c1))

<class '__main__.Car'>

In [ ]:
class car: ## function/method of a car
  pass

In [ ]:
c2= car()
print((c2))

<__main__.car object at 0x7e2dc84a5330>

In [ ]:
class car: ## function/method of a car
  def accelerate(self):
  ## self is a parameter/variable that represent instance of the class using which you can access method
  ## self make sure that each object knows that the method is associated with it
  ## in order word the method is referenced to that particular object
    print("car is accelerating")

In [ ]:
c2= car()

In [ ]:
c2.accelerate()

car is accelerating

In [ ]:
c3= car()
c3.accelerate()

car is accelerating

In [ ]:
class car:
  def accelerate(self):
    print("car is accelerating")
  def brake(self):
    print("car is braking")

In [ ]:
c2= car()
c2.accelerate()
c2.brake()

car is accelerating
car is braking

In [ ]:
c2.brake()

car is braking

In [ ]:
c2.accelerate()

car is accelerating

In [ ]:
class bank:
  def deposit(self):
    print("depositing money")
  def withdraw(self):
    print("withdrawing money")
    ## self is not python keyword, you can pass any variable name
    ## best practice is to self pass

In [ ]:
b1= bank()
b1.deposit()
b1.withdraw()

depositing money
withdrawing money

In [ ]:
class bank:
  def deposit(self, amount):
    print("depositing money")
  def withdraw(self, amount_withdraw):
    print("withdrawing money")

In [ ]:
anand= bank()
anand.deposit(1000)
anand.withdraw(500)

depositing money
withdrawing money

In [ ]:
## bank will ask for default amount, amount is attribute/property/data of the class bank
class bank:
  amount= 1000
  def deposit(self, amount):
    print("depositing money")
  def withdraw(self, amount_withdraw):
    print("withdrawing money")

In [ ]:
##
anand.amount

1000

In [6]:
##extract odd or even num in given list
class ListOps:
    l = [1, 2, 3, 4, 5]  # Class-level attribute

    def extract_even(self):
        l1 = []
        for i in self.l:  # Access 'l' using 'self'
            if i % 2 == 0:
                l1.append(i)
        return l1

    def extract_odd(self):
        l1 = []
        for i in self.l:  # Access 'l' using 'self'
            if i % 2 != 0:
                l1.append(i)
        return l1

# Example Usage
ops = ListOps()
even_numbers = ops.extract_even()
odd_numbers = ops.extract_odd()

print("Even numbers:", even_numbers)  # Output: [2, 4]
print("Odd numbers:", odd_numbers)    # Output: [1, 3, 5]

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [ ]:
class ListOps:
    l = [1, 2, 3, 4, 5]  # Class-level attribute

    def extract_even(self):
        l1 = []
        for i in self.l:  # Access the class-level list
            if i % 2 == 0:
                l1.append(i)
        return l1

    def extract_odd(self):
        l1 = []
        for i in self.l:  # Access the class-level list
            if i % 2 != 0:
                l1.append(i)
        return l1

# Creating an object of the class
obj = ListOps()

# Extract even numbers
even_numbers = obj.extract_even()
print("Even numbers:", even_numbers)

# Extract odd numbers
odd_numbers = obj.extract_odd()
print("Odd numbers:", odd_numbers)

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [ ]:
ops1= ListOps()
ops1.l

[1, 2, 3, 4, 5]

In [8]:
## init/magic/dunder method
class ListOps:
    def __init__(self, lst):
        """Initialize the object with a list."""
        self.l = lst

    def extract_even(self):
        """Extract even numbers from the list."""
        l1 = []
        for i in self.l:
            if i % 2 == 0:
                l1.append(i)
        return l1

    def extract_odd(self):
        """Extract odd numbers from the list."""
        l1 = []
        for i in self.l:
            if i % 2 != 0:
                l1.append(i)
        return l1

# Example Usage
ops = ListOps([1, 2, 3, 4, 5])  # Pass the list during object creation
even_numbers = ops.extract_even()
odd_numbers = ops.extract_odd()

print("Even numbers:", even_numbers)  # Output: [2, 4]
print("Odd numbers:", odd_numbers)    # Output: [1, 3, 5]

Even numbers: [2, 4]
Odd numbers: [1, 3, 5]

In [10]:
ops1= ListOps([1,2,3,4,5,9,10])
ops1.l

[1, 2, 3, 4, 5, 9, 10]

In [11]:
ops2= ListOps([11,12,13,14,15])
ops2.l

[11, 12, 13, 14, 15]

In [12]:
class ListOps:
    def __init__(self, lst):
        # 'self.l' is an instance attribute initialized with the provided list
        self.l = lst

    def extract_even(self):
        """Extract even numbers from the instance's list."""
        return [x for x in self.l if x % 2 == 0]

    def extract_odd(self):
        """Extract odd numbers from the instance's list."""
        return [x for x in self.l if x % 2 != 0]

# Create two instances with different lists
ops1 = ListOps([1, 2, 3, 4, 5])
ops2 = ListOps([10, 15, 20, 25])

# Each instance works on its own 'self.l'
print("ops1 even numbers:", ops1.extract_even())  # Output: [2, 4]
print("ops1 odd numbers:", ops1.extract_odd())    # Output: [1, 3, 5]

print("ops2 even numbers:", ops2.extract_even())  # Output: [10, 20]
print("ops2 odd numbers:", ops2.extract_odd())    # Output: [15, 25]

ops1 even numbers: [2, 4]
ops1 odd numbers: [1, 3, 5]
ops2 even numbers: [10, 20]
ops2 odd numbers: [15, 25]

In [13]:
class ListOps:
    def __init__(self, l):
        # Assign the parameter 'l' to the instance attribute 'self.l'
        self.l = l

    def extract_even(self):
        """Extract even numbers from the instance's list."""
        return [x for x in self.l if x % 2 == 0]

    def extract_odd(self):
        """Extract odd numbers from the instance's list."""
        return [x for x in self.l if x % 2 != 0]

# Create instances with different lists
ops1 = ListOps([1, 2, 3, 4, 5])
ops2 = ListOps([10, 15, 20, 25])

# Call methods on each instance
print("ops1 even numbers:", ops1.extract_even())  # Output: [2, 4]
print("ops1 odd numbers:", ops1.extract_odd())    # Output: [1, 3, 5]

print("ops2 even numbers:", ops2.extract_even())  # Output: [10, 20]
print("ops2 odd numbers:", ops2.extract_odd())    # Output: [15, 25]

ops1 even numbers: [2, 4]
ops1 odd numbers: [1, 3, 5]
ops2 even numbers: [10, 20]
ops2 odd numbers: [15, 25]

In [14]:
##a class with multiple attributes, such as author, title, and name
class Book:
    def __init__(self, author, title, name):
        # Initialize multiple attributes
        self.author = author
        self.title = title
        self.name = name

    def display_details(self):
        """Display details of the book."""
        return f"Author: {self.author}, Title: {self.title}, Name: {self.name}"

# Example usage
book1 = Book("George Orwell", "1984", "Dystopian Classic")
book2 = Book("J.K. Rowling", "Harry Potter", "Fantasy Adventure")

# Display details of each book
print(book1.display_details())  # Output: Author: George Orwell, Title: 1984, Name: Dystopian Classic
print(book2.display_details())  # Output: Author: J.K. Rowling, Title: Harry Potter, Name: Fantasy Adventure

Author: George Orwell, Title: 1984, Name: Dystopian Classic
Author: J.K. Rowling, Title: Harry Potter, Name: Fantasy Adventure