<a href="https://colab.research.google.com/github/anandkgupt/My-Practical-lab/blob/main/Python_Data_Str_2_Live_session_Revise_17_11_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets: Mutable - {}

In [10]:
##add intigers in sets
s={1,2,3,4}
print(s)
s.add(5)
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}

In [11]:
##Change from list to sets
l=[1,2,3,4,5,6,7]

In [12]:
s= set(l)
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [13]:
##add strings in sets
ss={"orange","apple","banana"}
ss.add("mango")
print(ss)

{'orange', 'banana', 'apple', 'mango'}

In [20]:

ss.pop()
print(ss)

{'apple'}

In [27]:
ss.remove("apple")
print(ss)

set()

In [29]:
ss.discard("apple")
print(ss)

set()

Dictionary

In [33]:
dict1 = {"name": "anand", "age": 25, "city": "delhi"}
dict2 = {"profession": "engineer", "hobby": "reading"}

# Merging dict1 and dict2
dict1.update(dict2)
print(dict1)

{'name': 'anand', 'age': 25, 'city': 'delhi', 'profession': 'engineer', 'hobby': 'reading'}

In [34]:
seq={'name','age','city'}
dict.fromkeys(seq)

{'age': None, 'city': None, 'name': None}

In [35]:
dict.fromkeys(seq,10)

{'age': 10, 'city': 10, 'name': 10}

In [39]:
sales={"apple":2,"orange":3,"banana":5}
sales.items()

dict_items([('apple', 2), ('orange', 3), ('banana', 5)])

In [40]:
sales.values()

dict_values([2, 3, 5])

In [43]:
sales.keys()

dict_keys(['apple', 'orange', 'banana', 'mango'])

In [42]:
sales.update({"mango":10})
print(sales)

{'apple': 2, 'orange': 3, 'banana': 5, 'mango': 10}

In [44]:
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [45]:
l2= l*2
print(l2)

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

In [51]:
##enumerate function
for i, j in enumerate(l):  # i is a dumy variable
    print(i,j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [53]:
for i in l:
  print(i)

1
2
3
4
5
6
7

In [48]:
##direct used of loop
print(l)
for i in l:
    print(i)

[1, 2, 3, 4, 5, 6, 7]
1
2
3
4
5
6
7

In [49]:
## enumerate function
for index,value in enumerate(l):
    print(index,value)

0 1
1 2
2 3
3 4
4 5
5 6
6 7

In [54]:
for i in sales:
  print(i)

apple
orange
banana
mango

In [55]:
for i in sales.values():
  print(i)

2
3
5
10

In [56]:
for i in sales:
  print(sales[i])

2
3
5
10

In [57]:
## loops through key-value pairs
for key,value in sales.items():
  print(key,value)

apple 2
orange 3
banana 5
mango 10

In [64]:
squares=[]
for i in range(10):
    squares.append(i*i)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

List comprehensions method

In [65]:
even_num= []
for i in range(1,11):
  if i%2==0:
    even_num.append(i)
print(even_num)

[2, 4, 6, 8, 10]

In [69]:
l = [1, 2, 3, 4, 5, 6,7]  # Example list
divisor = 2  # The number you want to check divisibility for

for i in l:
    if i % divisor == 0:  # Check if the number is divisible by the divisor
        print(i)

2
4
6

If you want to split file names into the name and extension and store them in a dictionary, you can use either os.path or pathlib in combination with dictionary structures.

In [70]:
## Using os.path with a Dictionary
import os

file_names = ["example_file.txt", "data_image.jpg", "report.pdf"]

file_dict = {}

for file_name in file_names:
    name, extension = os.path.splitext(file_name)
    file_dict[file_name] = {'name': name, 'extension': extension}

print(file_dict)

{'example_file.txt': {'name': 'example_file', 'extension': '.txt'}, 'data_image.jpg': {'name': 'data_image', 'extension': '.jpg'}, 'report.pdf': {'name': 'report', 'extension': '.pdf'}}

In [71]:
## Using pathlib with a Dictionary
from pathlib import Path

file_names = ["example_file.txt", "data_image.jpg", "report.pdf"]

file_dict = {}

for file_name in file_names:
    path = Path(file_name)
    file_dict[file_name] = {'name': path.stem, 'extension': path.suffix}

print(file_dict)

{'example_file.txt': {'name': 'example_file', 'extension': '.txt'}, 'data_image.jpg': {'name': 'data_image', 'extension': '.jpg'}, 'report.pdf': {'name': 'report', 'extension': '.pdf'}}

In [72]:
list1 = ["example=txt", "image=jpg", "report=pdf"]

# Initialize an empty dictionary
file_dict = {}

# Loop through the list and split each string at '='
for item in list1:
    key, value = item.split('=')
    file_dict[key] = value

print(file_dict)

{'example': 'txt', 'image': 'jpg', 'report': 'pdf'}

In [73]:
## only show variable or key
list1 = ["example=txt", "image=jpg", "report=pdf"]

# Loop through the list and extract the part before '='
variables = [item.split('=')[0] for item in list1]

print(variables)

['example', 'image', 'report']

In [74]:
## only show values
list1 = ["example=txt", "image=jpg", "report=pdf"]

# Loop through the list and extract the part after '='
values = [item.split('=')[1] for item in list1]

print(values)

['txt', 'jpg', 'pdf']

In [75]:
text = "Hello world, this is Python"
result = text.split()
print(result)

['Hello', 'world,', 'this', 'is', 'Python']

In [76]:
text = "apple,orange,banana,grape"
result = text.split(',')
print(result)

['apple', 'orange', 'banana', 'grape']

In [77]:
text = "apple apple orange apple"
result = text.replace("apple", "banana")
print(result)

banana banana orange banana

In [78]:
text = "apple apple orange apple"
result = text.replace("apple", "banana", 2)
print(result)

banana banana orange apple

In [79]:
text = "hello"
result = text.replace("e", "a")
print(result)

hallo

In [80]:
text = "I like cats"
result = text.replace("cats", "")
print(result)

I like

In [81]:
text = "programming"
char_count = {}

# Loop through each character in the string
for char in text:
    char_count[char] = char_count.get(char, 0) + 1  # Increment the count

print(char_count)

{'p': 1, 'r': 2, 'o': 1, 'g': 2, 'a': 1, 'm': 2, 'i': 1, 'n': 1}

In [82]:
text = "programming"
char_count = {}

# Loop through each character in the string to count occurrences
for char in text:
    char_count[char] = char_count.get(char, 0) + 1

# Filter the characters with a count greater than 1 (repeated characters)
repeated_count = {char: count for char, count in char_count.items() if count > 1}

print(repeated_count)

{'r': 2, 'g': 2, 'm': 2}

Shuffle functions

In [84]:
print(l)

[1, 2, 3, 4, 5, 6, 7]

In [87]:
## implementing Fisher-Yates shuffle
import random
for i in range(len(l)-1,0,-1):
  index=random.randint(0,i) ## generate a random index between 0 and i
  ## swap the elements at indices i and j
  l[i],l[index]=l[index],l[i]
print('shuffled list',l)

shuffled list [7, 4, 6, 3, 1, 2, 5]